PORT=5000
HOST=0.0.0.0
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/touristspot
PGSSL_MODE=disable
JWT_SECRET=change-this-to-a-long-random-secret
GOOGLE_WEB_CLIENT_ID=811231004431-slsvhr6pca5a10odqtq3oshgs6v4hqmh.apps.googleusercontent.com
